<h3>Filtres :</h3>

<p> {{ amount().displayed }} affichés sur {{ amount().total }} ({{ amount().displayed / amount().total * 100 }}%)</p>

<div class="custom-checkbox" (click)="toggleIgnoreWhenNoData()">
  <img [src]="`checkbox${ignoreWhenNoData() ? '_lit' : '_unlit'}.svg`" alt="Checkbox" height="20px" width="20px"> 
  <span> Masquer les points n'ayant pas d'analyse quantifiée</span>
</div>

<hr>

<p>Type (cliquez) : </p>
<ul class="checkboxes">
  @for (type of this.surveillanceTypes(); track $index) {
    <li> 
      <div class="custom-checkbox" (click)="toggleTypeFilter(type)">
        <img [src]="`checkbox${displayedTypes().has(type) ? '_lit' : '_unlit'}.svg`" alt="Checkbox" height="20px" width="20px"> {{ type }}
      </div>
    </li>
  }
</ul>

<hr>

<p> Résultats :</p>

<p> Masquer les points dont un des résultats quantifiés est supérieur ou égal à :</p>
<input type="number" id="upper" (input)="selectRange($event, null)">
<label for="upper"> µg/L</label>

<p> Masquer les points dont un des résultats quantifiés est inférieur ou égal à :</p>
<input type="number" id="lower" (input)="selectRange(null, $event)">
<label for="lower"> µg/L</label>

<hr>

<p> Masquer les points dont la date d'un des résultats quantifiés est supérieure ou égale à :</p>
<input type="date" id="upper" (input)="selectDateRange($event, null)">

<p> Masquer les points dont la date d'un des résultats quantifiés est inférieure ou égale à :</p>
<input type="date" id="lower" (input)="selectDateRange(null, $event)">


<hr>

<p> Filtrer par comunes :</p>

@for (name of displayedCommunes(); track $index) {
  <button (click)="updateCommunes(name, 'remove')"> {{ name }}</button>
}

<br>
<input type="text" id="commune" (input)="communeInput($event)" #commune>

@if (suggestionsAreDisplayed()) {

  <div class="suggestions">
    @for (name of suggestedCommunes(); track $index) {
      <div class="commune" (click)="updateCommunes(name, 'add')">
        <span> {{ name }}</span>
      </div>
    }
  </div>
}