:host {

  .hidden {
    display: none;
  }

  .suggestions {
    display: flex;
    flex-direction: column;
  }

  .commune {
    min-width: 100%;
    border: 1px solid black;
    padding: 2px
  }


  .custom-checkbox {
    display: flex;
    flex-direction: row;
    cursor: default;

    .img {
      max-height: 1px;
      max-width: auto;
      vertical-align: middle;
    }
  }
}