:host {
  display: flex;
  flex-direction: column;

  .page-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > * {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .point-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: scroll;

    .point {
      margin: 0.5em;
      padding: 0.25em;
      border: 2px outset rgb(73, 73, 73);
      border-radius: 15px;
    }

    .point.selected {
      border-color: #45cd00;
    }
  }
}