@if (selectedPointId()) {

  <div>
    <h4> Point séléctionné : <a href="https://www.georisques.gouv.fr/risques/installations/donnees/details/{{ selectedPointId() }}"> {{ selectedPointId() }}</a></h4>
    <button (click)="unselect()"> Dé-séléctionner le point</button>
  </div>

  <ul>
    <li> Commune : {{ pointInfo()?.place }}</li>
    <li> Type de surveillance : {{ pointInfo()?.type }}</li>
    <li> Mesures : 
      <p> 
        <span> Trier par (cliquez) :</span>
        <br>
        <span>
          critère : 
          <button class="order-button" (click)="sortBy(null, 0)" [class.selected]="criteriaIndex() === 0"> DATE</button>
          <button class="order-button" (click)="sortBy(null, 1)" [class.selected]="criteriaIndex() === 1"> NOM</button>
          <button class="order-button" (click)="sortBy(null, 2)" [class.selected]="criteriaIndex() === 2"> MESURE</button>
          ordre : 
          <button class="order-button" (click)="sortBy('asc', null)" [class.selected]="order() === 'asc'"> CROISSANT</button>
          <button class="order-button" (click)="sortBy('desc', null)" [class.selected]="order() === 'desc'"> DÉCROISSANT</button>
        </span> 
      </p>
      <ul>
        <li>
          Mesures quantifiées ({{ pointInfo()?.measures?.length }}) : 
          
          <table>
            <tr>
              <th> Date :</th>
              <th> Nom :</th>
              <th> Mesure :</th>
            </tr>
            @for (measure of pointInfo()?.measures?.sort(sortFunction()); track $index) {
              <tr>
                <td> {{ `${measure[0].getDate()}/${measure[0].getMonth()}/${measure[0].getFullYear()}` }}</td>
                <td> {{ measure[1] }} :</td>
                <td> {{ measure[2]}} µg/L</td>
              </tr>
            }
          </table>
        </li>
        <li>
          Toutes les mesures ({{ pointInfo()?.analysisAmount }}) :

          @let measuresOfPoint = allMeasuresSet().get(selectedPointIdNotNull());
          
          @if (measuresOfPoint === undefined) {
            <p> <button (click)="requestAllMeasures(selectedPointIdNotNull())"> Afficher</button></p>
          }
          @else if (measuresOfPoint === null) {
            <p> <b> Chargement...</b></p>
          }
          @else {
            <table>
              <tr>
                <th> Date :</th>
                <th> Nom :</th>
                <th> Mesure :</th>
                <th> État :</th>
              </tr>
              @for (measure of measuresOfPoint.sort(sortFunction()); track $index) {
                <tr>
                  <td> {{ `${measure[0].getDate()}/${measure[0].getMonth()}/${measure[0].getFullYear()}` }}</td>
                  <td> {{ measure[1] }} :</td>
                  <td> {{ measure[4] }}{{ measure[2]}} µg/L</td>
                  <td class="{{measure[3] === 'Correcte' ? 'bad' : 'good'}}"> {{ measure[3] }}</td>
                </tr>
              }
            </table>
          }
        </li>
      </ul>
    </li>
  </ul>
}